<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>everybot event page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap" rel="stylesheet">


</head>
<body class="survey-body">
<h1 class="title">
    <img src="https://cdn-pro-web-228-207.cdn-nhncommerce.com/cjcasa4865_godomall_com/data/skin/front/mplshop/img/banner/4abb3e09c1ed1f199867349c5d7e9033_41815.png"
         width="150" height="auto">
</h1>
<div class="container">
    <br>
    <!--    <h1 class="title">-->
    <!--    <img src="https://cdn-pro-web-228-207.cdn-nhncommerce.com/cjcasa4865_godomall_com/data/skin/front/mplshop/img/banner/4abb3e09c1ed1f199867349c5d7e9033_41815.png" width="200" height="auto">-->
    <!--    </h1>-->
    <h1 class="sub-title1">신제품 출시정보</h1>
    <h1 class="sub-title2">관심고객 소식받기 EVENT</h1>
    <br>
    <p class="end-date">06.13&nbsp;&nbsp;- &nbsp;07.31</p>
    <div class="highlight">
<!--        <div class="notice">-->
            <p> •&nbsp;&nbsp;&nbsp;에브리봇 행사, 신제품 출시 정보 누구보다 빠르게 소식받기!</p>
            <p> •&nbsp;&nbsp;&nbsp;관심 고객 신청만 해도 추첨을 통해 경품 제공!</p>
            <p> •&nbsp;&nbsp;&nbsp;<span class="underline">이벤트 경품</span> &nbsp;➜&nbsp; 스타벅스 아메리카노(50명)</p>
            <p> •&nbsp;&nbsp;&nbsp;<span class="underline">당첨자 발표</span>&nbsp; ➜ &nbsp;8월 2주차 (접수하신 휴대폰 번호로 별도 발표없이
                발송됩니다)</p>
<!--        </div>-->
    </div>

    <form action="submit" th:action="@{/submit}" id="myForm" th:object="${surveyDto}" method="post">

        <!--        <div class="highlight">-->
        <!--            <div class="input-style">-->
        <!--                <label for="myName"><strong>1. 성명</strong></label>-->
        <!--                <input class="text-blank" type="text" id="myName" th:field="*{name}" name="name"-->
        <!--                       placeholder=" 예) 홍길동">-->
        <!--            </div>-->
        <!--        </div>-->

        <div class="highlight">
                <label for="myName"><p>1. 성명</p></label>
                <input class="text-blank" type="text" id="myName" th:field="*{name}" name="name" placeholder="예) 홍길동">
        </div>

        <div class="highlight">
            <label for="phone"><p>2. 휴대폰 번호 (행사 안내문자가 발송됩니다)</p></label>
            <input class="text-blank" type="text" id="phone" th:field="*{phoneNumber}" name="phoneNumber"
                   placeholder=" - 없이 번호만 작성해주세요.">
        </div>

        <div class="highlight">
            <label-title>3. 성별</label-title>
            <label style="display: block;">
                <input type="radio" th:field="*{gender}" name="gender" value="남성"> 남성
            </label>
            <label style="display: block;">
                <input type="radio" th:field="*{gender}" name="gender" value="여성"> 여성
            </label>
        </div>

        <div class="highlight">
            <label-title>4. 관심있는 제품을 선택해주세요.</label-title>
            <label>
                <input type="radio" th:field="*{product}" name="product" value="쓰리스핀 EVO"> 쓰리스핀 EVO
            </label>
            <label>
                <input type="radio" th:field="*{product}" name="product" value="쓰리스핀"> 쓰리스핀
            </label>
            <label>
                <input type="radio" th:field="*{product}" name="product" value="엣지2"> 엣지2
            </label>
            <label>
                <input type="radio" th:field="*{product}" name="product" value="쓰리스핀 PLUS"> 쓰리스핀 PLUS
            </label>
            <label>
                <input type="radio" th:field="*{product}" name="product" value="Q5"> Q5
            </label>
            <label>
                <input type="radio" th:field="*{product}" name="product" value="기타"> 기타
            </label>
        </div>

        <div class="highlight">
            <label-title>5. 에브리봇을 알게된 경로를 선택해주세요.</label-title>
            <label style="display: block;">
                <input type="radio" th:field="*{source}" name="source" value="온라인"> 온라인
            </label>
            <label style="display: block;">
                <input type="radio" th:field="*{source}" name="source" value="오프라인"> 오프라인
            </label>
            <label style="display: block;">
                <input type="radio" th:field="*{source}" name="source" value="홈쇼핑"> 홈쇼핑
            </label>
            <label style="display: block;">
                <input type="radio" th:field="*{source}" name="source" value="지인 소개"> 지인 소개
            </label>
            <label style="display: block;">
                <input type="radio" th:field="*{source}" name="source" value="SNS"> SNS
            </label>
            <label style="display: block;">
                <input type="radio" th:field="*{source}" name="source" value="유튜브"> 유튜브
            </label>
        </div>

        <div class="highlight">
            <label-title>6. 귀하의 연령대가 어떻게 되십니까?</label-title>
            <label style="display: block;">
                <input type="radio" th:field="*{ageRange}" name="ageRange" value="10대"> 10대
            </label>
            <label style="display: block;">
                <input type="radio" th:field="*{ageRange}" name="ageRange" value="20대"> 20대
            </label>
            <label style="display: block;">
                <input type="radio" th:field="*{ageRange}" name="ageRange" value="30대"> 30대
            </label>
            <label style="display: block;">
                <input type="radio" th:field="*{ageRange}" name="ageRange" value="40대"> 40대
            </label>
            <label style="display: block;">
                <input type="radio" th:field="*{ageRange}" name="ageRange" value="50대"> 50대
            </label>
            <label style="display: block;">
                <input type="radio" th:field="*{ageRange}" name="ageRange" value="60대"> 60대 이상
            </label>
        </div>

        <div class="highlight">
            <div class="form-group1">
                <label><strong>유의 사항</strong></label>
                <p>- 비정상적인 경로나 방법 등을 활용 경우, 이벤트에서 제외될 수 있습니다.</p>
                <p>- 관심 고객 대상 경품 이벤트의 경우, 7월31일까지 관심 고객으로 신청해주신 고객을 대상으로 진행되는 이벤트 입니다.</p>
                <p>- 본 이벤트는 당사의 사정에 따라 별도 공지 없이 변경 또는 조기 종료될 수 있습니다.</p>
                <p>- 관심 고객 사전등록 시 제품 홍보 및 행사 안내를 위한 문자가 발송됩니다.</p>
                <p>- 사은품은 추후 별도 배송되며, 연락처/주소 오기입으로 인한 미발송 시 재발송 되지 않으니 유의하여 주시기 바랍니다.</p>
                <p>- 이벤트 경품은 공급사의 사정으로 변경(동일 금액 상당)될 수 있습니다.</p>
                <!--                <p>- 당첨자 발표의 경우 접수하신 휴대폰으로 별도 발표없이 발송 됩니다.</p>-->
                <p>- 당첨자 발표의 경우 접수하신 휴대폰으로 결과가 발송 됩니다.</p>
            </div>
        </div>

        <div class="highlight">
            <div class="form-group1">
                <label><strong>개인정보 활용 동의서</strong></label>

                <br>
                <p style="margin-bottom: 15px"><strong>● 개인정보 수집 이용 동의서</strong></p>
                <p style="margin-bottom: 15px">I. 개인정보의 수집 및 이용 동의서 - 이용자가 제공한 모든 정보는 다음의 목적을 위해 활용하며, 하기 목적 이외의 용도로는
                    사용되지
                    않습니다.</p>
                <p>① 개인정보 수집 항목 및 수집·이용 목적</p>
                <p>가) &nbsp;수집 항목 (필수 항목) : 성명(국문), 전화번호(휴대 전화) 신청서에 기재된 정보 또는 신청자가 제 공한 정보</p>
                <p>나) &nbsp;수집 및 이용 목적 : 에브리봇 주식회사 신제품 출시 안내 문자 발송 – 에브리봇 주식회사 출시 정보 문자발송</p>
                <p style="margin-bottom: 15px">– 에브리봇 주식회사 이벤트 사은품 쿠폰 발송 – 에브리봇 주식회사 자사 제품 홍보 목적의 SMS 발송</p>
                <p style="margin-bottom: 15px">② 개인정보 보유 및 이용기간 : 수집·이용 동의 일로부터 6개월 이내</p>
                <p>③ 동의거부관리 : 귀하께서는 본 안내에 따른 개인정보 수집, 이용에 대하여 동의를 거부하실 권리가 있습니다.</p>
                <p style="margin-bottom: 15px">다만, 귀하가 개인정보의 수집 / 이용에 동의를 거부하시는 경우에 해당 이벤트에서 제외되며 사은품 대상에서 제외됩니다.</p>
                <p>본인은 위의 동의서 내용을 충분히 숙지하였으며, 개인정보 수집, 이용, 제공하는 것에 동의합니다.</p>
            </div>
            <br>
            <div class="form-check1">
                <div class="form-check2">
                    <label>
                        <!--                        <input type="radio" th:field="*{privacyConsent}" name="privacyConsent" value="true"> 개인정보 수집 및 활용에-->
                        <!--                        <span1 id="consentLabel">동의</span1>합니다.-->
                        <input type="radio" th:field="*{privacyConsent}" name="privacyConsent" value="true"> 개인정보 수집 및
                        활용에
                        <span1 th:text="'동의'">동의</span1>
                        합니다.
                    </label>
                </div>
            </div>
        </div>

        <!--        마케팅 수신 동의-->
        <div class="highlight">
            <div class="event-text">
                <p>본 이벤트 신청서에 입력하신 개인정보는 사은품 배송을 위한 용도로만 활용되며, 사은품 배송과 관계없는 제 3자에게 제공되지 않습니다.</p>
            </div>
            <br>
            <!--        <div class="form-check3">-->
            <!--            <div class="form-check4">-->
            <!--                <label>-->
            <!--                    <input type="checkbox" th:field="*{eventSmsConsent}" name="eventSmsConsent"> 이벤트 당첨 안내 및 마케팅 수신에-->
            <!--                    동의합니다.-->
            <!--                </label>-->
            <!--            </div>-->
            <!--        </div>-->

            <label class="event-title">● 이벤트 당첨 안내 및 마케팅 수신 동의 (동의하지 않을 시 이벤트 참여에 제한이 있습니다)</label>
            <div class="form-group-event">
                <label class="event-subtitle" style="display: inline;">
                    <input type="radio" th:field="*{eventSmsConsent}" name="eventSmsConsent" value="o">
                    <strong>동의합니다.</strong>
                </label>
                <label class="event-subtitle" style="display: inline;">
                    <input type="radio" th:field="*{eventSmsConsent}" name="eventSmsConsent" value="x">
                    <strong>동의하지 않습니다.</strong>
                </label>
            </div>
        </div>
        <br>
        <!--        <input type="submit" class="btn btn-primary btn-block" value="응모 완료" onclick="submitForm(event)">-->
        <input type="submit" class="btn-block" value="응모 완료" onclick="submitForm(event)">
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>

<script>
    function submitForm(event) {
        event.preventDefault(); // 폼 제출을 막고, 직접 처리하기 위해 추가

        // 필드 값 체크
        var name = document.getElementById('myName').value;
        var phone = document.getElementById('phone').value;
        var gender = document.querySelector('input[name="gender"]:checked');
        var product = document.querySelector('input[name="product"]:checked');
        var source = document.querySelector('input[name="source"]:checked');
        var ageRange = document.querySelector('input[name="ageRange"]:checked');
        var privacyConsent = document.querySelector('input[name="privacyConsent"]:checked');
        var eventSmsConsent = document.querySelector('input[name="eventSmsConsent"]:checked');

        // 필수 항목이 비어 있는지 확인
        if (!name || !phone || !gender || !product || !source || !ageRange || !privacyConsent || !eventSmsConsent) {
            // 체크되지 않은 첫 번째 필수 항목에 커서 이동
            if (!name) {
                alert('성명을 입력해주세요.');
                document.getElementById('myName').scrollIntoView({behavior: 'smooth'});
            } else if (!phone) {
                alert('휴대폰 번호를 입력해주세요.');
                document.getElementById('phone').scrollIntoView({behavior: 'smooth'});
            } else if (!gender) {
                alert('성별을 선택해 주세요.');
                document.querySelector('input[name="gender"]').focus();
            } else if (!product) {
                alert('관심있는 제품을 선택해 주세요.');
                document.querySelector('input[name="product"]').focus();
            } else if (!source) {
                alert('경로를 선택해 주세요.');
                document.querySelector('input[name="source"]').focus();
            } else if (!ageRange) {
                alert('연령대를 선택해 주세요.');
                document.querySelector('input[name="ageRange"]').focus();
                // 동의 체크 확인
            } else if (!privacyConsent) {
                alert('개인정보 수집 및 활용에 동의해야 응모가 가능합니다.');
                document.querySelector('input[name="privacyConsent"]').focus();
            } else if (!eventSmsConsent) {
                alert('이벤트 당첨 안내 및 마케팅 수신 동의 여부를 선택해 주세요.');
                document.querySelector('input[name="eventSmsConsent"]').focus();
            }

            return;
        }
        // 모든 필수 항목이 입력되었을 때만 응모 완료 메시지 출력
        alert('응모가 완료되었습니다.');
        document.getElementById('myForm').submit();
    }
</script>


<!--<script>-->
<!--    function updateLabel() {-->
<!--        var consentLabel = document.getElementById("consentLabel");-->
<!--        var radio = document.querySelector('input[name="privacyConsent"]:checked');-->
<!--        if (radio.value === "true") {-->
<!--            consentLabel.textContent = "동의";-->
<!--        } else {-->
<!--            consentLabel.textContent = "";-->
<!--        }-->
<!--    }-->
<!--</script>-->

<!--성명 및 휴대폰 번호 칸에 다른 문자 입력 불가능-->

</body>
</html>